<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <br/>
    Inbound EDIFACT
    <div class="card">
        <div class="card-content">

            <div>
                <form method="POST" enctype="multipart/form-data" action="/uploadEDIFactInbound">
                    <table>
                        <tr>
                            <td>File to upload:</td>
                            <td><input type="file" name="file" multiple/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Upload"/></td>
                        </tr>
                    </table>
                </form>
            </div>

            <div th:if="${message}">
                <h5 th:text="${message}"/>
            </div>

        </div>
    </div>
</div>
</html>