<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:fragment="copy">
	<title>IBM TP Loadsheet Tool</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"
		  id="Viewport" name="viewport"/>
</head>

<body th:fragment="copy">
<nav class="bgcolor">
	<div class="container nav-wrapper">
		<a href="#!" class="flow-text logo" id="ediParseTool"><strong>IBM TP Loadsheet Tool</strong></a>
		<a href="#" data-activates="slide-out" class="button-collapse"><i
				class="material-icons" style="color: white">menu</i></a>
	</div>
	<ul id="slide-out" class="side-nav fixed" style="width: 250px">
		<li>
			<div class="user-view">
				<div class="background bgcolor"></div>
				<i class="material-icons iconlarge" id="userPic">person_pin</i>
			</div>
		</li>

		<li><a class="subheader">Input</a></li>
		<li><div class="divider"></div></li>

		<li><a class="waves-effect logo" href="#!" id="edifact_inbound"><i
				class="material-icons">cloud_upload</i>Inbound EDIFACT</a></li>

		<li><a class="waves-effect logo" href="#!" id="edifact_outbound"><i
				class="material-icons">cloud_upload</i>Outbound EDIFACT</a></li>

		<li><a class="subheader">Results</a></li>
		<li><div class="divider"></div></li>

		<li><a class="waves-effect logo" href="#!" id="edifact_inbound_result"><i
				class="material-icons">cloud_download</i>Inbound EDIFACT</a></li>

		<li><a class="waves-effect logo" href="#!" id="edifact_outbound_result"><i
				class="material-icons">cloud_download</i>Outbound EDIFACT</a></li>
	</ul>
</nav>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".button-collapse").sideNav();

        $("#edifact_inbound").click(function() {
            $("#main-content").load("edifact_ib_input");
        })

        $("#edifact_outbound").click(function() {
            $("#main-content").load("edifact_ob_input");
        })

        $("#edifact_inbound_result").click(function() {
            $("#main-content").load("edifact_inbound_result");
        })

        $("#edifact_outbound_result").click(function() {
            $("#main-content").load("edifact_outbound_result");
        })
    });
</script>
</body>

</html>
